.nav {
  position: sticky;
  align-items: center;   
  backdrop-filter: blur(100px);
  top: 0px;
  padding-inline: 10%;
  margin: 20px 0;
  max-width: 100%;
  margin: 0 auto;
  z-index: 100;
}

.nav-link {
  color: #949494;
  font-size: 0.9em;
  font-family: "Gill Sans", sans-serif;
  
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link-active {
  font-size: 1.5em;
  font-weight: 650;
  background: linear-gradient(90deg,rgb(75, 147, 255), rgb(148, 100, 236));
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-divider {
  position: sticky;
  top: 52px;
  z-index: 99;
  opacity: 0;
  background: linear-gradient(90deg,rgb(75, 147, 255), rgb(148, 100, 236));
  height: 0.5px;
  transition: opacity 0.4s ease;
}

.custom-divider.visible {
  opacity: 0.5;
}

.logo {
  width: 100px;
  height: 100px;
}

.container-outer {
  position: relative;
  max-width: 100vw;
  margin: 0 auto;
}
.container-inner {
  width: 80%;
  margin: 0 auto;

}


body {
  background-color: #000000;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3.4em;
  font-weight: 700;
  color: #ffffff;
}

p {
color: #949494;
}