.nav {
  margin: 20px 0;
  max-width: 80%;
  margin: 0 auto;
}

.nav-link {
  
  color: #949494;
  font-size: 0.9em;
  font-family: "Gill Sans", sans-serif;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link-active {
  font-size: 1.5em;
  font-weight: 650;
  background: linear-gradient(90deg,rgb(75, 147, 255), rgb(148, 100, 236));
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-divider {
  height: 1px;Ð¸
  background-color: #ffffff4d;
}

.logo {
  width: 100px;
  height: 100px;
}

.container-outer {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
}
.container-inner {
  width: 80%;
  margin: 0 auto;

}


body {
  background-color: #000000;
}

h1 {
  font-size: 3.6em;
  font-weight: 700;
  color: #ffffff;
}

p {
color: #949494;
}