.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 20px;
  
}

.project-card {
  display: flex;
  background: rgba(253, 253, 253, 0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.39);
  transition: all 0.2s ease-in-out;
}

.project-image {
  width: 100;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project-content {
  padding: 10px;
}

.profile-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  filter: brightness(0.7);
}

.greeting-box  {
  display: inline-block;
  background: #007BFF24;
  border: 1px solid rgba(87, 138, 247, 0.479);
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 40px;

}



.greeting-text {
  color: #578af7;
  font-size: 0.8em;
  font-weight: 450;
  margin: 20;
}


.gradient-text {
  background: linear-gradient(45deg, rgb(165, 117, 255) 60%, rgb(75, 147, 255));
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.custom-divider-h1 {
    background: linear-gradient(90deg,rgb(75, 147, 255), rgb(148, 100, 236));
    height: 5px;
    width: 100px;
    margin: 0 auto;
    border-radius: 20px;

}

.container-about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 8%;
  justify-content: center;
  justify-items: center;
  align-items: center;

}

@media (min-width: 769px) {
.container-about{
  grid-template-columns: repeat(6, 1fr);
  align-items: center;

  }
}

.about-item:nth-child(1) {
  grid-column: span 3;
  text-align: left;

}
.about-item:nth-child(2) {
  grid-column: span 3;

}

.about-item:nth-child(n+3) {
  grid-column: span 2;
  border: 1px solid #77767b33;
  background: #77767b19;
  border-radius:10px;
  height: 120px ;
  width: 330px;
  padding: 20px;
  margin: 8%;
}

.about-item__text {
  color: white;
  padding-top: 15px;
  text-align: center;
}


.icon-box {
  color: rgb(87, 138, 247);
  font-size: 30px;
  padding: 12px 18px;
  border: 0.1px;
  background: #007BFF24;
  border-radius:10px;
}








