.projects-grid {
  display: grid;
  grid-column: span 1;
  gap: 20px;
  
}

.project-card {
  display: flex;
  background: rgba(253, 253, 253, 0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.39);
  transition: all 0.2s ease-in-out;
}

.project-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project-content {
  padding: 10px;
}

.greeting-box  {
  display: inline-block;
  background: rgba(0, 123, 255, 0.144);
  border: 1px solid rgba(87, 138, 247, 0.479);
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 40px;

}



.greeting-text {
  color: rgb(87, 138, 247);
  font-size: 0.8em;
  font-weight: 450;
}


.gradient-text {
  background: linear-gradient(45deg, rgb(165, 117, 255) 60%, rgb(75, 147, 255));
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}